[2019-11-28 14:34] quanngovan98 opened #1 "hi, your work is great, on android it worked perfectly as a expected, but on ios, i cannot access the environment variable in the info.plist file"
i've add this script

[code]

[2019-11-28 14:38] quanngovan98 commented on #1
here my .env file
![image](https://user-images.githubusercontent.com/39608754/69814703-59edc280-1227-11ea-9342-80b3b716713a.png)
and here how i access it in the info.plist
![image](https://user-images.githubusercontent.com/39608754/69814729-68d47500-1227-11ea-876c-f4b49086e726.png)

[2019-11-29 11:06] ltvan opened #2 "Use local .envfile instead of /tmp/envfile"
You can use local .envfile instead of /tmp/envfile. I copy here my patch for react-native-config. I haven't try to update your code yet.

[code]

[2019-11-29 11:29] edTheGuy00 commented on #1
Hi there! Did you follow the [iOS setup instructions](https://github.com/ByneappLLC/flutter_config/blob/master/doc/IOS.md)

This is what works for me, but honestly I haven't tested the iOS side extensively since iOS is not my strongest skill. I'll look into your issue by tomorrow when I have time. Thanks for reporting, I want to make this a robust library.

[2019-11-29 12:49] ltvan commented on #2
An alternative way is to use SCHEME_NAME as a default suffix.

[2019-12-02 02:31] vanquanngo commented on #1
yeah, this is the greatest library for config in flutter, better than any present, i hope that you'll continue to develop it

[2020-01-09 08:51] edTheGuy00 commented on #1
Hi, You have to add two separate pre-action scripts, and copying the `.env` file has to be the first action. The end result should look something like this:

I will update the `README` accordingly

<img width="850" alt="Screen Shot 2563-01-09 at 15 49 22" src="https://user-images.githubusercontent.com/16095735/72052373-a54fc200-32f7-11ea-8a58-a0dd2b542b79.png">

[2020-01-09 08:51] #1 closed

[2020-01-09 08:53] edTheGuy00 commented on #2
Hi, Thanks.

This seems like a better approach than using the local `tmp` directory. I'll try to add this in

[2020-01-09 09:51] edTheGuy00 commented on #1
#3

[2020-01-10 04:52] edTheGuy00 commented on #2
I sort of halfway got this method working on [this branch](https://github.com/ByneappLLC/flutter_config/tree/update-ios-method) , but I was unable to generate the `tmp.xcconfig` required for the variables to available in the `Info.plist`

I think the main issue is that I am trying to place the `.envfile` in the iOS directory instead of the root directory, I think this is a better approach since th

[2020-01-20 09:01] hungthai1401 opened #4 "Different environments when build apk in release mode is null"
I have set that:
[code]

But when run ```flutter build apk```,  ```FlutterConfig.get('DUMMY')``` always return null.

[2020-01-21 17:29] edTheGuy00 commented on #4
@hungthai1401 Can you share your app `build.gradle` file ?

[2020-01-22 01:25] hungthai1401 commented on #4
@edTheGuy00 , this is my app ```build.gradle``` file

[code]

[2020-01-22 22:57] jamie1192 opened #5 "Not compatible with Flutter Web"
The [pub.dev listing ](https://pub.dev/packages/flutter_config) notes the package as being compatible with Flutter Web but doesn't work at all. The page should remove the web support tag if it doesn't support it please.

[2020-01-23 05:50] edTheGuy00 commented on #5
@jamie1192 It would be nice if someone could help bring support for web 😃

[2020-02-11 05:14] themindstorm opened #6 "Higher minimum deployment target"
My Flutter app works fine for IOS, but when I add the flutter_config plugin I get the following error:

[code]

I tried `pod update` on the IOS folder in the app, but I get this error:

[code]

Is there any fix?

[code]

[2020-02-19 16:03] ir2pid commented on #6
add this line on top of your Podfile located at `projectroot/ios/Podfile`

`platform :ios, "10.0"`

run
pod repo update

[2020-02-19 16:47] edTheGuy00 commented on #6
@ir2pid yes that is correct.

Sorry I’ve been too busy at the moment.

[2020-02-20 07:23] nmshaikh commented on #1
Hi there,

Firstly, I want to thank you for the great work you're doing! I'm a Flutter newbie and after an extensive search on how to maintain different build environments, I came across your project and it works like a charm. It has really helped to make my life easier.

I actually also faced the same issue as @quanngovan98 where the tmp.xcconfig file was not being generated and the environment v

[2020-02-20 07:29] nmshaikh commented on #1
[Pull request created](https://github.com/ByneappLLC/flutter_config/pull/7)

[2020-02-24 15:46] stpch commented on #4
I'm having the same problem without using different environments. It looks like there's an issue with building the app through the flutter command.

Running `flutter build appbundle` gives me `null` when using `FlutterConfig.get(...)`. However, it works when running `./gradlew assembleRelease` from the `android` directory.

[2020-02-26 05:52] edTheGuy00 commented on #4
@stpch try `flutter build appbundle --flavor YOUR_FLAVOR`

This is how I have it setup on my production apps, so I just run either

`flutter build appbundle --flavor prod `

or

`flutter build appbundle --flavor dev`

the flavor being what I defined in the app gradle as shown in the [example app](https://github.com/ByneappLLC/flutter_config/blob/f102f10e1de52a1f305c5bf072ed3c9eda65fdf6/example/and

[2020-02-26 09:35] stpch commented on #4
Shouldn't it work without flavors? https://github.com/luggit/react-native-config (which this project seems inspired by) works like this, where flavors are completely optional.

I'd imagine most people start out without flavors and add them later in development if needed.

[2020-02-26 09:47] edTheGuy00 commented on #4
@stpch Yes it should work without flavors. I haven't had much time to debug this issue. I'll look into the in the coming days.

It would be great if someone could help out 😃

[2020-03-04 22:34] bonaregoapp opened #8 "Could not access BuildConfig"
Although I've followed the installation process, I'm getting this log message
D/FlutterConfig( 6446): Could not access BuildConfig
".env" file exists in root of the project.

android/app/build.gradle

[code]

[2020-03-19 04:20] edTheGuy00 commented on #2
fixed in #9

[2020-03-19 04:20] #2 closed

[2020-03-19 04:24] edTheGuy00 commented on #6
Hi, I [commented out the `deployment_target`] This shouldn't cause any isues since this can be defined at the app level. Please let me know if you encounter any issues (https://github.com/ByneappLLC/flutter_config/blob/946c80318d082eb1965a775bf0a5601783c19a57/ios/flutter_config.podspec#L19)

[2020-03-19 04:24] #6 closed

[2020-03-19 04:42] edTheGuy00 commented on #5
Web label has been automatically removed thanks to [the new plugin platforms map](https://flutter.dev/docs/development/packages-and-plugins/developing-packages#plugin-platforms)

[2020-03-19 04:42] #5 closed

[2020-03-27 13:44] RasikaOrel opened #10 "can not run ios app"
Showing All Errors Only
PhaseScriptExecution [CP-User]\ Config\ codegen /Users/saliya/Library/Developer/Xcode/DerivedData/Runner-fkkjhrbngnapmsgpseawphrctnvz/Build/Intermediates.noindex/Pods.build/Debug-iphoneos/flutter_config.build/Script-EFBAA2D01E1345BD7B53B079245050B8.sh (in target 'flutter_config' from project 'Pods')
    cd /Users/saliya/Desktop/OREL_HOME_PROJECT/git/ra_device_config/OrelHom

[2020-03-27 13:50] edTheGuy00 commented on #10
Hi, can you try running this command on your terminal, then try rebuilding again?

`rm -rf ~/Library/Developer/Xcode/DerivedData/*`

https://stackoverflow.com/a/7284632

[2020-03-27 15:24] RasikaOrel commented on #10
try this one but error is same

[2020-03-30 16:31] rickszyr opened #11 "How do I use the config file in my tests?"
Thanks!

[2020-03-31 11:39] nmshaikh commented on #10
Hi, I ran into the same issue earlier and it seems to be an issue with the value for `envs_root` specified in the second pre-build script. It no longer works with `${SRCROOT}/..` and causes `envs_root` to become nil, resulting in the above error. Able to resolve by changing the script as follows:

![image](https://user-images.githubusercontent.com/28905117/78022237-1094b780-736e-11ea-8cb9-95423ace

[2020-04-01 04:00] Puttz commented on #8
same as me

[2020-04-05 04:36] aaronlinsky commented on #10
I'm having the same issue with 1.0.7
[code]

[2020-04-09 08:52] edTheGuy00 commented on #11
Hi, I just added a method to load variables for testing, https://bitbucket.org/appsynth/rabbit_app_flutter/pull-requests/5/fix-buddybuild-pod

This library requires a script to be run at compile time to read the `.env` files and write them in the native code. so that part of the library is a bit difficult to test.

[2020-04-09 08:52] #11 closed

[2020-04-09 09:00] edTheGuy00 commented on #10
I've seen this error once before, from what I remember it was just a configuration mistake, but I cannot reproduce it, by any change is you project open source so I can take a look at it? @aaronlinsky or @RasikaOrel

And have you tried what @nmshaikh mentioned? I did have a breaking change in `1.0.6` where I changed the location of the `envfile`, so if you're coming from a previous version this mi

[2020-04-09 12:52] aaronlinsky commented on #10
@edTheGuy00 Sure, it's https://gethansel.org, and [this](https://github.com/gethansel/hansel/issues/5) is the specific issue I'm trying to close.

It very well could be a configuration mistake on my part. I was a little confused by @nmshaikh's solution since I didn't have any script in my project's Build -> Pre-actions.

[2020-04-12 13:02] hubahuba commented on #8
i got same error message when i try to add flavor into my app and use applicationIdSuffix,
but solved when i add `defaultConfig` with:
`
resValue "string", "build_config_package", "YOUR_PACKAGE_NAME_IN_ANDROIDMANIFEST.XML"
`
as per android setup mention

maybe you should check your AndroidManifest package name or try to add `resValue` into your `defaultConfig`

[2020-04-14 04:08] idmontie commented on #10
I ended up reverting back to 1.0.5 to get it to work.

[2020-04-24 17:24] imSaharukh opened #12 "how to use flutter config in my java code?"
Process p = Runtime.getRuntime()
                    .exec("su -c sh /"+BuildConfig.ADD_SA+".gDeactivate.sh");

is this is the right way?

[2020-04-24 17:29] #12 closed

[2020-05-16 15:30] OmarACY opened #13 "If you're running an application and need to access the binary messenger before `runApp()` has been called"
If you're running an application and need to access the binary messenger before `runApp()` has been called (for example, during plugin initialization), then you need to explicitly call the `WidgetsFlutterBinding.ensureInitialized()`

[2020-05-16 15:31] OmarACY commented on #13
Put method `WidgetsFlutterBinding.ensureInitialized();` in `main()` method

[code]

[2020-05-16 15:42] #13 closed

[2020-05-19 12:23] byneapp commented on #10
Issues might be that it never reaches the `default_env` condition

https://github.com/ByneappLLC/flutter_config/pull/9/files#diff-d96eee77d540908917f65e533ecdec09R42

[2020-05-20 08:32] hyochan commented on #10
We need to solve this to make this wonderful plugin usable.

[2020-05-31 23:15] ugurerkan commented on #10
In my case @edTheGuy00 advice worked. Like @aaronlinsky my project don't have the scripts. I've follow [setup guide](https://github.com/ByneappLLC/flutter_config/blob/master/doc/IOS.md#availability-in-build-settings-and-infoplist) (See step 2) and it's solved my issue.

[2020-06-04 22:57] ugurerkan opened #15 "Using with Swift AppDelegate"
Hello,

[There is sample for Objective-C](https://github.com/ByneappLLC/flutter_config/blob/master/doc/IOS.md#ios-advanced-setup) but my project is created with Swift and I can not figure out how to use flutter config in `ios/AppDelegate.swift` is there any example?

Maybe we can also provide this example in IOS readme.

Thank you in advance.

[2020-06-29 16:34] andrzejmerix commented on #15
`import flutter_config`

and then you can use

`FlutterConfigPlugin.env(for: "SOME_KEY_FROM_ENV")`

@ugurerkan it's working for me with flutter 1.17.4

[2020-06-29 16:36] AndrzejKaczynski commented on #15
`import flutter_config`

and then you can use

`FlutterConfigPlugin.env(for: "SOME_KEY_FROM_ENV")`

@ugurerkan it's working for me with flutter 1.17.4

[2020-07-02 10:12] ugurerkan commented on #15
Thank you @AndrzejKaczynski

[2020-07-02 10:12] #15 closed

[2020-07-10 13:42] hyochan commented on #10
Confirmed @ugurerkan 👍

[2020-07-12 06:43] edTheGuy00 commented on #10
I'm considering whether to make the[ iOS setup configuration](https://github.com/ByneappLLC/flutter_config/blob/master/doc/IOS.md#availability-in-build-settings-and-infoplist) mandatory.  This is needed either way if you want to use your vars in `Info.plist` and/or if you have multiple scheme environments. I set this up in all my projects as I have multiple schemes (`develop` , `production` etc).

[2020-07-12 06:45] edTheGuy00 commented on #8
@bonaregoapp did this solve your issue? 👆

[2020-07-27 13:52] martynasadomaitis commented on #4
I think I found the solution. I had the problem when i get `null` on any `FlutterConfig.get('DUMMY')` with a release build using `flutter build apk --release` or `flutter build appbundle --release` (debug mode works OK and returns config values correctly).

After digging into `flutter_config` code, I found a line in `FlutterConfigPlugin.kt`:

[code]

In other words - reflection is used to retrieve

[2020-08-17 16:30] israellias commented on #4
@martynasadomaitis you saved my day! and probably my startup!
Thanks!

[2020-09-09 06:17] beilly opened #18 "resValue string should not contain“"
Generated from. Env string.xml The inclusion of "" will result in more references.

this is my ```.env```
![image](https://user-images.githubusercontent.com/7353956/92561296-8f3f3a80-f2a6-11ea-974d-bac99b7d07aa.png)

And this is ```string.xml```

![image](https://user-images.githubusercontent.com/7353956/92561392-b85fcb00-f2a6-11ea-9039-3a7f6ea0d323.png)

So. I think it should change
[code]
to
[co

[2020-09-14 13:03] Ferdzzzzzzzz commented on #10
Setting up ios solved the problem for me as well :)

[2020-09-23 04:32] alfredma1117 commented on #4
Thank you @martynasadomaitis !

[2020-10-05 12:34] danielgomezrico opened #21 "Weird generated tmb.xcconfig with an url"
I followed the steps to generate the xcode file adding the build scripts on the scheme like this: https://github.com/ByneappLLC/flutter_config/blob/master/doc/IOS.md.

After looking at the generated `tmb.xcconfig` file there's one weird value for one url that I accept as env variable:

- `.env` file:
[code]

- `tmp.xcconfig`
[code]

[2020-10-05 12:55] vinaykudari commented on #10
changing the .env file to .envfile worked for me :)

[2020-10-09 09:15] p3pp8 opened #22 "Unity symlink inside the plugin breaks iOS build."
As of subject, i can't build iOS 8 code with flutter_config. A symlink error prevents xcode to build iOS 8 compatible code.

[2020-10-22 11:18] sspatari opened #23 "Generated tmp.xcconfig for ios is always empty and all enviroment variables are null"
![image](https://user-images.githubusercontent.com/17746926/96864516-3819b180-1471-11eb-9c0d-63f1ad5834cf.png)
The .env that I create is at the root level
![image](https://user-images.githubusercontent.com/17746926/96864645-68f9e680-1471-11eb-9fb0-d5094cd23a72.png)
am I doing something wrong here.

For Android it works ut not for IOS.

[2020-10-22 11:21] sspatari commented on #21
@danielgomezrico man how did you make the tmp.xcconfig to be populated, mine is always empty?
Where did you put your .env file? Mine is on the same level as lib folder so on the root level.
Can you help me with this?

[2020-10-22 13:58] danielgomezrico commented on #21
@sspatari you need to follow this https://github.com/ByneappLLC/flutter_config/blob/master/doc/IOS.md#availability-in-build-settings-and-infoplist

[2020-11-03 16:57] ketanchoyal opened #24 "'GeneratedDotEnv.m' file not found"
Relates issue from react-native: https://github.com/luggit/react-native-config/issues/187

[2020-11-07 23:35] ElioEfra99 opened #25 "Command PhaseScriptExecution failed with a nonzero exit code"
I am having the following error when executing an app with "flutter_config" in iOS, it actually runs perfectly with my Android device.

I already did some research but found nothing about this error, I also tried several things, such as:

* flutter clean
* update cocoapods.
* remove podfile.lock
* pod update
* pod install
* packages upgrade
* flutter upgrade

As nothing of this worked, I decided t

[2020-11-23 18:23] nathan-cb8 commented on #4
thank you @martynasadomaitis - can we get this added to docs - from what I can see it still isn't listed

[2020-11-25 23:34] phil-flyclops commented on #25
I'm getting the exact same error and trying to work through it

[2020-11-25 23:42] phil-flyclops commented on #25
Ah, the problem is the .rb script isn't looking for files called .env, it is looking for .envfile.  If no .envfile is found, it doesn't fall back to .env

[2020-11-26 00:13] phil-flyclops commented on #25
I created this to fix the issue, can apply locally to temporarily get over

[2020-12-23 05:06] lordvcs commented on #25
I have the same issue too

[2020-12-23 05:10] lordvcs commented on #25
How do I temporarly apply this?

[2020-12-24 07:39] edTheGuy00 commented on #25
Can you confirm this was fixed with Version 1.0.8?

[2020-12-24 07:40] edTheGuy00 commented on #18
This was merged and updated in Version 1.0.8

[2020-12-24 07:40] #18 closed

[2020-12-25 07:40] lordvcs commented on #25
@edTheGuy00 this issue seems to be fixed on the new version, but I still cant get it to work with ios
This is my AppDelegate.swift file
![image](https://user-images.githubusercontent.com/6374881/103125780-3a3aff00-46b2-11eb-8032-f427aa1c2cf3.png)
and this is the console output
![image](https://user-images.githubusercontent.com/6374881/103125818-5dfe4500-46b2-11eb-9dc3-1f26082b36b1.png)

Am I doing

[2020-12-25 07:42] lordvcs commented on #15
Doesnt seem to work on the latest
This is my AppDelegate.swift file
![image](https://user-images.githubusercontent.com/6374881/103125780-3a3aff00-46b2-11eb-8032-f427aa1c2cf3.png)
and this is the console output
![image](https://user-images.githubusercontent.com/6374881/103125818-5dfe4500-46b2-11eb-9dc3-1f26082b36b1.png)

Am I doing something wrong?

[2020-12-25 16:51] lordvcs commented on #4
Thanks for the plugin but please add this to the documentation, I spent some hours trying to figure this out.

[2021-01-18 23:00] eherediadev commented on #4
I'm using flavors and this is the error I'm getting:

[code]

[2021-02-03 03:43] sonhvse61570 opened #29 "Cannot run on Android 6 API level 23"
This is my flutter version:
![image](https://user-images.githubusercontent.com/12763652/106695304-e276a880-660c-11eb-9314-14adfafb8fbf.png)

I tried to run with android 6, but flutter throw exception:
![image](https://user-images.githubusercontent.com/12763652/106695149-97f52c00-660c-11eb-8f08-1f266e0636e3.png)

Please give us the version that your lib support.
Thanks

[2021-02-14 23:22] nehamallama opened #30 "Fails to run on android"
I have made sure to pub get, restart the app, delete the app from the device etc and I still am not having any luck getting the env vars to work on android. This is the error I get when I run with android. Please let me know what other relevant info is needed. Everything looks ok when I run flutter doctor

[code]

[2021-02-15 09:35] #30 closed

[2021-02-18 11:45] 4A-Dilla commented on #4
This didn't work for me, I'm having the same issue trying to use proguard and flutter config
`
def localProperties = new Properties()
def localPropertiesFile = rootProject.file('local.properties')
if (localPropertiesFile.exists()) {
    localPropertiesFile.withReader('UTF-8') { reader ->
        localProperties.load(reader)
    }
}

def keystoreProperties = new Properties()
def keystorePropertiesF

[2021-02-19 10:11] sonhvse61570 commented on #30
Hi @nehamallama ,
Have you fixed this bug already?.
Please share your solution.

Thanks,

[2021-02-19 21:11] 4A-Dilla commented on #4
Found the solution,  add ```-keep class com.YourPackageName.BuildConfig { *; }``` to android/app/proguard-rules.pro

[2021-02-21 10:46] jamnaritesh opened #31 "Does not work with Gradle version 4.0+"
Hi Guys,
I'm trying to get this to work with below config:

=> flutter doctor -v
[✓] Flutter (Channel beta, 1.25.0-8.1.pre, on Mac OS X 10.15.6 19G2021 darwin-x64, locale en-IN)
    • Flutter version 1.25.0-8.1.pre at /Users/riteshsharma/Software/flutter
    • Framework revision 8f89f6505b (10 weeks ago), 2020-12-15 15:07:52 -0800
    • Engine revision 92ae191c17
    • Dart version 2.12.0 (build 2

[2021-02-26 07:52] nehamallama opened #32 "Does not work in release mode with http.get"
When you run on release mode,  you cant add anything to the base url given by flutter config. dart http is extremely wide used and should be supported in release mode. Issue only occurs in android. Half a day down the drain because of this one here......
[code]
Yields the error --> E/flutter ( 3278): Receiver: null
E/flutter ( 3278): Tried calling: +("/login")
E/flutter ( 3278): #0      Object.noS

[2021-02-27 16:20] ShamarKellman commented on #31
@jamnaritesh can you post the exact code change you made? I am trying to upgrade and ran into the same issue. Thanks

[2021-02-28 03:32] jamnaritesh commented on #31
@ShamarKellman I forked this repo, and on my pubspec.yml I used the git repo instead of using any specific version.

https://github.com/quanngovan98/flutter_config

[2021-03-05 08:59] nehamallama commented on #32
RUN AWAY! They dont update anything or respond to any open issues. Use this dep instead https://pub.dev/packages/flutter_dotenv

[2021-03-05 08:59] #32 closed

[2021-03-05 09:00] nehamallama commented on #29
RUN AWAY! They dont update anything or respond to any open issues. Use this dep instead https://pub.dev/packages/flutter_dotenv

[2021-03-05 09:00] nehamallama commented on #25
RUN AWAY! They dont update anything or respond to any open issues. Use this dep instead https://pub.dev/packages/flutter_dotenv

[2021-03-05 09:00] nehamallama commented on #23
RUN AWAY! They dont update anything or respond to any open issues. Use this dep instead https://pub.dev/packages/flutter_dotenv

[2021-04-06 16:54] moioo91120 opened #33 "Add null safety"
Hello,

Any way to add Null Safety to this package ?

Thanks

[2021-04-08 13:48] pecostef commented on #33
Hello! I opened a PR in order to add null safety support: https://github.com/ByneappLLC/flutter_config/pull/34

[2021-04-16 16:31] steven-spiel commented on #33
This is really important for our team. Can you check on that PR? @byneapp

[2021-04-16 16:37] edTheGuy00 commented on #33
Hey guys, thanks. Weirdly enough I didn't receive any notifications until @steven-spiel . I'll look into right away

[2021-04-16 17:02] edTheGuy00 commented on #33
@pecostef Looks, good. I've just added a few recommendations on what I believe might be a better approach.

[2021-04-16 17:04] edTheGuy00 commented on #31
This was fixed with #26 . I'll update it on pub.dev as soon as #34 is merged.

[2021-04-16 17:07] edTheGuy00 commented on #4
I'm closing this as it seems to have been a proguard-rules.pro related issued. README was update with #28

[2021-04-16 17:07] #4 closed

[2021-04-18 17:02] edTheGuy00 commented on #33
Version 2.0.0 has been [published](https://pub.dev/packages/flutter_config)  Thanks @pecostef for the PR

[2021-04-18 17:02] #33 closed

[2021-04-18 17:03] edTheGuy00 commented on #31
Version 2.0.0 has been [published](https://pub.dev/packages/flutter_config) with gradle 4.0 support

[2021-04-18 17:03] #31 closed

[2021-04-18 17:19] edTheGuy00 commented on #29
You'll get a `MissingPluginException` If you are using hot restart or hot reload and add Native Plugins. make sure you stop the running application and run `flutter run` again. Would also recommend running `flutter clean` .

I'm going to close this issue since I assume you are following @nehamallama suggestion

[2021-04-18 17:19] #29 closed

[2021-04-18 17:42] edTheGuy00 commented on #25
So this issue was fixed since `1.0.8` . I'm going to go ahead and close this issue. @lordvcs If you are still encountering other unrelated problems, can you open a separate issue?

@nehamallama Oh hey again, you must passionately hate this library as you are commenting the same thing on every issue. Could you at least remove this from your Github repositories? https://github.com/nehamallama/flutte

[2021-04-18 17:42] #25 closed

[2021-04-18 17:48] edTheGuy00 commented on #8
Closing due to no response

[2021-04-18 17:48] #8 closed

[2021-04-18 18:01] edTheGuy00 commented on #23
This maybe be because you might need to follow the [iOS setup guide](https://github.com/ByneappLLC/flutter_config/blob/master/doc/IOS.md)

See https://github.com/ByneappLLC/flutter_config/issues/10#issuecomment-657182523 for more details

@nehamallama Hi again, You seem to have enough free time to be commenting on all issues. That free time could be used on something productive like helping out on

[2021-04-18 18:04] edTheGuy00 commented on #24
Are you getting this on a local machine on a CI build?

[2021-04-19 04:04] edTheGuy00 commented on #32
Your issue is most likely because you don't have a `proguard-rules.pro` file. This was discussed over a year ago in #4
and was added on the README by #28  But instead of searching previous issues or reading the README you chose to come here and complain.

[2021-04-28 05:24] edTheGuy00 opened #35 "Integrate with dart-define"
`--dart-define` variables are accesible in gradle with `project.property('dart-defines')` , and on iOS via `ios/Flutter/Generated.xcconfig` this could potentially be an alternative to using a `.env` file, as `--dart-define` variables are more easily accesible on the flutter engine with `String.fromEnvironment("MY_VAR")` and `int.fromEnvironment("MY_VAR")`

Simple script in gradle to make `dart-def

[2021-05-25 20:15] grapeworksdev commented on #15
I am running into the following error:
Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value: file Runner/AppDelegate.swift, line 15

I have the following in my AppDelegate.swift file and my .env file. I also tried adding the following in my AppDelegate.m file
![Screen Shot 2021-05-25 at 16 12 06](https://user-images.githubusercontent.com/80786010/119562312-2e905900-bd7

[2021-05-25 20:16] grapeworksdev opened #36 "Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value"
I am running into the following error:
Fatal error: Unexpectedly found nil while implicitly unwrapping an Optional value: file Runner/AppDelegate.swift, line 15

I have the following in my AppDelegate.swift file and my .env file. I also tried adding the following in my AppDelegate.m file
![Screen Shot 2021-05-25 at 16 12 06](https://user-images.githubusercontent.com/80786010/119562615-87f88800-bd7

[2021-05-26 23:22] akmjenkins opened #37 "Null check operator on Android in Release Mode"
Works fine in debug mode, when I run it in release mode I get this trace from `await FlutterConfig.loadEnvVariables()`

[code]

Mandatory `flutter doctor -v`

[code]

[2021-05-27 23:29] seenickcode opened #38 "Doesn't seem to work on Windows"
This works on macOS but not on Windows for some reason. I have a valid .env file. I get this message on windows:

[code]

[2021-05-31 04:22] edTheGuy00 commented on #37
Hello, if you are using Proguard, you will need to add the rules to avoid the obfuscator from stripping away needed classes. It is mentioned on the [Android Setup Guide](https://github.com/ByneappLLC/flutter_config/blob/master/doc/ANDROID.md)

[2021-05-31 04:33] edTheGuy00 commented on #36
Last I tested, It was working fine as in the[ given example.](https://github.com/ByneappLLC/flutter_config/blob/master/example/ios/Runner/AppDelegate.m) But it's been a while and I have not checked on Swift. Things might have changed; I'm setting up a new project, I'll look into this and let you know

[2021-05-31 04:46] edTheGuy00 commented on #38
So are you trying to run an Android app from Windows? If everything was setup correctly following the [Android Setup Guide](https://github.com/ByneappLLC/flutter_config/blob/master/doc/ANDROID.md) Then my best guess would be some PATH inconsistencies between Unix systems and Windows.

I can't really solve this as I don't have a Windows machine, But you want to try changing the line on `android/app

[2021-05-31 05:15] edTheGuy00 commented on #35
as of Flutter 2.2.0, dart defined variables are base64 encoded.

decode using

gradle:
[code]

iOS:
[code]

[2021-05-31 09:30] pepe19000 commented on #35
And how can i get key-value pair from decoded variables?

[2021-05-31 11:44] akmjenkins commented on #37
@edTheGuy00 thanks for the reply!

On my debugging journey before I posted this issue, I added `android/app/proguard-rules.pro` to my project with:

[code]

And it did not solve my issue.

[2021-05-31 11:53] edTheGuy00 commented on #37
Just to double check again, You replaced `com.myappname.suffix` with YOUR app name correct? For example, in my app I would have

[code]

Secondly, I'm not 100% sure that is correct, I think you might also need to add the [FlutterConfigPlugin](https://github.com/ByneappLLC/flutter_config/blob/master/android/src/main/kotlin/com/byneapp/flutter_config/FlutterConfigPlugin.kt) class.

[code]

Can you c

[2021-05-31 12:03] akmjenkins commented on #37
Yes.

I've also added:

[code]

with no luck.

How can I disable proguard? I noticed in my `gradle.properties` file there's this `android.enableR8=true` and I was starting to wondering if `R8` had anything to do with this?

[2021-06-01 13:10] grapeworksdev commented on #36
Thank you! I appreciate it. I’m using it in a production app so please let me know as soon as you can.

Ashton
👁‍🗨 Ashton Jones
📩 ***@***.***
🌐 ashtonjones.dev <https://ashtonjones.dev/>

🖥 Founder @ Grape Works Dev <https://grapeworks.dev/>

👨🏻‍💻 Software Engineer x Storyteller x Stoic

[2021-06-05 11:56] danielchc commented on #38
I have the same problem, and I tried to change slashes but didn't work

[2021-06-09 15:38] xal opened #39 "Invalid error message"
The library have only one error message:
[code]
However, it is not always true. For example .env file exists and loaded but don't have given key.

[2021-06-12 10:43] abehbatre commented on #38
i have same problem . run on macbook

[2021-06-13 13:14] ridharezzag commented on #39
i have the same issue, any solution?

[2021-06-13 13:15] ridharezzag commented on #38
i have the same issue, any solution?

[2021-06-14 03:40] ridharezzag commented on #38
for those wo are using windwos i faced the same problem, make sure to fellow  the instalation steps mention by @edTheGuy00  in the instalation guide
you need to create
1- Add file android/app/proguard-rules.pro to your app's project.
2- Add the below line to the newly created proguard-rules.pro file:
`-keep class com.yourcompany.app.BuildConfig { *; }`
where com.yourcompany.app should be replaced

[2021-06-14 03:43] ridharezzag commented on #39
check this answer here [possible solution](https://github.com/ByneappLLC/flutter_config/issues/38#issuecomment-860341725)

[2021-06-14 06:18] edTheGuy00 commented on #39
@xal Android or iOS or both?

[2021-06-14 07:01] edTheGuy00 commented on #39
@xal if you're on Android your issue might be from different package name?

https://github.com/ByneappLLC/flutter_config/blob/master/doc/ANDROID.md#different-package-names

[2021-06-14 07:27] ridharezzag commented on #39
i only test it in android, usnig windows and it works, as you explained

[2021-06-14 09:41] xal commented on #39
@ridharezzag both

I think the problem in the next Dart code

[code]

Sorry, don't have time for PR right now

[2021-06-15 10:11] edTheGuy00 commented on #39
@xal Can you check in the following directory;

`build/app/generated/source/buildConfig/` and find `BuildConfig.java` classes. There might be multiple ones based on how many flavors you have set up. Are your `.env` keys in any of those classes?

For example this is what mine looks like inside develop directory:

<img width="319" alt="Screen Shot 2021-06-15 at 17 08 18" src="https://user-images.git

[2021-06-17 11:20] xal commented on #39
@edTheGuy00 I definitely sure that all .env variables fetched properly and all things are generated. I am using `flutter_config` and it works for me, thanks for library. Please look at my PR, it is just error message change which not relevant when key not exist

[2021-06-18 12:04] IlyaOstashkov commented on #35
You can use that https://medium.com/@tatsu.ukraine/flutter-2-2-dart-defines-and-breaking-changes-here-we-go-again-ce40cfea74fd

[2021-07-15 11:19] grapeworksdev commented on #36
@edTheGuy00 Any update on this?

[2021-07-19 21:48] joakimia commented on #36
Hey @edTheGuy00 , is this a known issue? I seem to be having the same issue.

![image](https://user-images.githubusercontent.com/13645152/126231450-109ea1ca-e6a8-4ec7-85cb-21794540ae5e.png)

The `.env` file is being read just fine in both `AndroidManifest.xml` and Dart files.
But on iOS this error seem to be persisting.

I have a workaround now but it involves creating an additional file `env.plis

[2021-07-28 06:36] aakashkhatter1296 opened #41 "Argument list too long error when building production app"
Getting the following error when building the production app using fastlane. This started happening only after adding `flutter_config` library. Removing the library and building the production app works fine.

[code]

The error only occurs on CI, works fine on local machine. I'm running the build using github-actions and using the `macOS-latest` runner. The fastlane command causing the issue is th

[2021-08-17 09:36] ducquynhnguyeninfo commented on #8
Got the same issue and this solution is not clear to understand. Could you please add an example?

[2021-08-24 03:39] ducquynhnguyeninfo opened #42 "cannot build apk file"
I'm tried to build apk package but failed:
[code]

The config I set:

[code]

[2021-09-06 16:22] edTheGuy00 commented on #42
@ducquynhnguyeninfo I don't think this has anything to do with this library

References:

https://stackoverflow.com/questions/62548438/execution-failed-for-task-applintvitalrelease-flutter

https://github.com/flutter/flutter/issues/58247#issuecomment-636500680

[2021-09-06 16:22] #42 closed

[2021-09-17 15:39] abdullah432 commented on #37
Same issue, no luck so far

[2021-09-17 16:09] ramuramasani opened #43 "flavors using same app_id"
I'm using flutter _config in my project when I use different flavors app using same app_id instead of different app_id's

[2021-09-18 05:52] PSU94 opened #44 "I'm using different flavors in my app when I use same AppId flutter_config is working but when i use different AppIds flutter config is not working"

[2021-09-19 12:13] abdullah432 commented on #39
I'm getting the same issue, I follow the guidelines but nothing work so far.

[2021-09-20 09:05] johnIsowhiz commented on #44
![image](https://user-images.githubusercontent.com/90145141/133978734-6223b0da-30cc-4496-aff2-e2b434d12638.png)
![image](https://user-images.githubusercontent.com/90145141/133978807-992259b6-ec0d-4271-b32f-3fd636f94d97.png)

[2021-09-30 06:41] shishirInde commented on #36
@edTheGuy00 @grapeworksdev any solution on this ?

[2021-11-22 16:46] nepsians commented on #23
I was also having similar issue. Worked nicely on android but was not working on iOS, even though i had correctly configured all the setup properly. So, i started exploring codes in .symlinks/plugins/flutter_config and found out that my .env file had spacing that was causing the problem.

.env[Previously]
`APP_NAME = "DEMO APP NAME"`

.env[Updated]
`APP_NAME="DEMO APP NAME"

ref: [regex](https://r

[2021-11-24 17:04] amanv8060 commented on #31
@edTheGuy00 it doesn't works with gradle 7.0.0 , required to use jetpack compose

[code]

[2021-12-27 17:27] TolgaYld commented on #36
same error...

[2021-12-30 18:04] milanobrenovic commented on #38
ok and how to set that for a flutter app that has 3 flavors? because the packages are different in that case.

[2021-12-30 22:13] milanobrenovic commented on #39
I'm having the same issue. I'm using 3 different flavors for my app so im guessing something about it is wrong?

[2021-12-30 22:24] milanobrenovic commented on #39
I solved it by using a different package https://pub.dev/packages/flutter_dotenv

I literally made 0 changes to my project, integrated this package and my app could compile and run successfully, reading data from environment correctly.

So this means it's not the fault of my project or setup, but rather this package `flutter_config` has some unsolved bug.

[2021-12-31 09:16] ldemyanenko commented on #15
This way with `import flutter_config` was working for me until I started using Flutter 2.8 and the latest version of the lib. Now I'm getting error
    1 warning generated.
    /Users/builder/clone/ios/Runner/AppDelegate.swift:5:8: error: no such module 'flutter_config'
    import flutter_config
           ^
    /Users/builder/clone/ios/Runner/AppDelegate.swift:5:8: error: no such module 'flutter_

[2021-12-31 17:16] ldemyanenko opened #46 "No such module 'flutter_config'"
I'm having issue when trying to build my flutter project on code magic CI. I'm using Flutter 2.2.3(same issue also happens on 2.8) and Xcode version 12.4(same issue on 13.2)

[code]

[2022-01-12 19:05] flodaniel commented on #46
Hey @ldemyanenko ,

i am running into a similar issue but with android and codemagic CI:

[code]

Did you already solve your issue?

[2022-01-12 20:04] flodaniel opened #47 ":flutter_config not found in new gradle builds"
When using a CI/CD tool such as codemagic, the build is often split in a different way compared to when we do a classic `flutter build`.
For the flutter pipeline in codemagic, the codemagic CLI first runs a `flutter pub get` followed right away with a `/Users/builder/programs/gradle-7.3.1/bin/gradle wrapper --gradle-version 6.9.1 --distribution-type all`.

This causes the following issue:
[code]

[2022-02-17 02:12] hanifmhd opened #48 "flutter_config for web"
Hi,

Thank you for the collaborators who create this package, it's really helpful. I appreciate it.
I have implemented this package to run on android and ios, it runs well, but it is not supported for web. Is there any package flutter config that supports web?

Thank you.

[2022-02-19 20:08] igonzarec commented on #8
This indeed solved the issue for me as well.

[2022-03-01 09:59] Datnguyenvan09 opened #49 "help me: I can not run ios"
When i run ios app with flavor:

Failed to build iOS app
Error output from Xcode build:
↳
    ** BUILD FAILED **

Xcode's output:
↳
    Writing result bundle at path:
    	/var/folders/yd/1kdc_grd1l9frs2gjg5lg7s40000gn/T/flutter_tools.rmuM6A/flutter_ios_build_temp_dirDk8Bct/temporary_xcresult_bundle

    reading env file from /Users/dat/StudioProjects/test_config/ios/ and writing .config to /Users

[2022-03-03 21:00] MuTe33 commented on #47
Hey, just faced the same issue today. Haven't run my build for a longer time. Any updates on how to resolve this? Much appreciated! @flodaniel

[2022-03-13 06:16] hasanm08 commented on #38
[code]
this worked for me

[2022-05-12 10:02] dovahkrid commented on #31
This seems to be the fix from the react version

https://github.com/luggit/react-native-config/pull/609

You can edit the dotenv.gradle file yourself if this lib doesn't get an update.

[2022-06-03 13:51] abehbatre opened #50 "i cant execute signingReport"
halo i use flutter_config and make 3 flavor .
and now i need to execute `./gradlew signingReport` . and it show error

[code]

[2022-06-07 06:28] ssorrychoi commented on #49
I have also same issue. Did you resolve it?

[2022-06-07 07:35] edTheGuy00 commented on #50
Hello, please follow the [Android setup guide](https://github.com/ByneappLLC/flutter_config/blob/master/doc/ANDROID.md) . `signingReport ` should work as long as everything is setup correctly. The issue you are seeing is because the [gradle script](https://github.com/ByneappLLC/flutter_config/blob/ed3a01f687526a58bed79b804c38c3481ae34108/android/dotenv.gradle#L53) is unable to find the `.env` file

[2022-06-07 07:35] #50 closed

[2022-06-07 07:39] edTheGuy00 commented on #49
Hi, these are just logs that are being output by [BuildDotenvConfig.rb](https://github.com/ByneappLLC/flutter_config/blob/ed3a01f687526a58bed79b804c38c3481ae34108/ios/Classes/BuildDotenvConfig.rb#L8) , I don't see any specific error related to `flutter_config`

Please look for the `error` line in your Xcode output.

[2022-06-07 07:39] #49 closed

[2022-06-11 07:56] abehbatre commented on #50
@edTheGuy00 thanks

[2022-06-13 11:47] mdeandrea-mrmilu commented on #43
This is a question? Is solved?

[2022-06-13 11:47] mdeandrea-mrmilu commented on #44
Do you follow [this config steps](https://github.com/ByneappLLC/flutter_config/blob/master/doc/IOS.md) for iOS?

[2022-06-14 23:49] BirdSamuel opened #51 "String parsing (using FlutterConfig.get()) leaves extra quote characters on iOS devices"
NOTE: This is not all iOS devices. I haven't been able to pin down which specific devices/versions have this issue.
Both using the same code from this repository: https://github.com/BirdSamuel/test_flutter_config

When pulling strings from a `.env` file, _some entries_ with quotation marks bring over the quotes on iOS devices. This example shows everything but the last entry.

Android example, als

[2022-07-01 23:05] ous24 opened #52 "gradle env files map not working"
i c'ant compile my application after adding the env files map in build.gradle

![image](https://user-images.githubusercontent.com/63429256/176976288-31d291be-a9f3-45bc-85b6-e7f6e3e23dd8.png)

[2022-07-22 11:13] thirw commented on #52
Same issue

[2022-08-02 17:51] nicoache1 opened #53 "Pre actions fails in iOS"
## Description

Im having issues trying to make the setup for different `.env` files per environment. Either using only one `.env` and trying to make the configuration to use it in the `info.plist` fails.
I follow up the doc for iOS and Im running out of ideas, any help?

### Versions
[code]
### Error

<img width="967" alt="Captura de Pantalla 2022-08-02 a la(s) 14 48 46" src="https://user-images.

[2022-08-08 03:20] dovahkrid commented on #52
Same as https://github.com/ByneappLLC/flutter_config/issues/31

[2022-08-24 13:44] hazzo commented on #31
@edTheGuy00 it's seems that this fix is not pushed tu `pub.dev`. The actual code that you change in version 2.0 installed on my app for the `dotenv.gradle` file has this at the end:

[code]

instead of this that is the actual code of the repository.

[code]
I added to my `pubspec.yaml` as a git dependency and it's working fine.

[2022-09-02 13:40] ArtemNVK commented on #1
Hi! I noticed that `echo ".env" > ${SRCROOT}/.envfile` didn't work for me but `echo ".env" > ${SRCROOT}/envfile` did. I know it has to do with the "." at the beginning of the filename. Any way to combat this?

[2022-09-23 06:49] mario-jerkovic commented on #47
@edTheGuy00 is there any progress on this issue? thanks

[2022-09-24 20:47] baconcheese113 opened #54 "Unable to use with Flavors"
Works fine with `production` flavor, but the env vars are all null when using with a different flavor

android/app/src/build.gradle
[code]

[2022-10-01 18:05] derekpitts opened #55 "Does not work with the newest gradle version it seems"
Tried to run with the most recent version of gradle plugin:

Running "flutter pub get" in adventure_pal...
Launching lib\app\main.dart on Pixel 6 in debug mode...
Running Gradle task 'assembleDebug'...

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':flutter_config'.

     Searched in the following locations:
       - https://dl.google.com/dl/a

[2022-10-06 09:24] ArtemNVK commented on #39
Be aware that you might want to use proguard-rules.pro line like `-keep class com.package.name.*BuildConfig { *; }`. For some reason, prepending BuildConfig with an asterisk worked for me while the docs' version didn't.

[2022-10-07 09:46] SharbelOkzan commented on #54
Since you're using `applicationIdSuffix`, have a look at [this] it may help(
https://github.com/ByneappLLC/flutter_config/blob/master/doc/ANDROID.md#different-package-names)

[2022-10-31 10:06] CharanjeetRPOPS commented on #55
Facing same issue

[2022-11-07 10:31] dayveedaniel opened #56 "Possibility to use more that one .env file"
The plugin only read ".env", is there a possibility to define the file to read from , for example .env.dev , .env.prod

_Reading env from: .env_

[2022-11-26 11:23] stevennguyenn commented on #55
https://pub.dev/packages/flutter_config_plus
I just publish a copy library. You can use it 👯